.naveg {
  display: flex;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
}
a:link, a:visited {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 2px rgba(0, 0, 102, 0.718);
  width: 35vw;
  align-items: center;
  background-color: rgb(1, 1, 153);
  color: #c7b705;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #c7b705;
  color:rgb(1, 1, 153);
}
